In [12]:
import requests
import pandas as pd
import json

In [34]:
pd.set_option('display.max_rows', None)

### The function below lists all the exchanges we can query and the country these exchanges to belong to

In [15]:
def get_all_exchange():
	end_url_path="exchanges"
	url = f"https://twelve-data1.p.rapidapi.com/{end_url_path}"
	headers = {
		"X-RapidAPI-Key": "628945fc0cmsh40c2bcb4a06a38ap16df3cjsn9834d9b0ab25",
		"X-RapidAPI-Host": "twelve-data1.p.rapidapi.com"
	}
	response = requests.get(url, headers=headers)
	data = response.json()
	df = pd.DataFrame(data['data'])
	print(df.count())
	print(df.columns)
	print(df.head())
	return df

In [30]:
df = get_all_exchange()
df[df.country.str.lower().str.contains('india')]

name        135
code        135
country     135
timezone    135
dtype: int64
Index(['name', 'code', 'country', 'timezone'], dtype='object')
   name  code    country                        timezone
0  BCBA  XBUE  Argentina  America/Argentina/Buenos_Aires
1   ASX  XASX  Australia                Australia/Sydney
2   CXA  CXAC  Australia                Australia/Sydney
3   VSE  XWBO    Austria                   Europe/Vienna
4   BHB  XBAH    Bahrain                    Asia/Bahrain

   name  code country      timezone
43  BSE  XBOM   India  Asia/Kolkata
44  NSE  XNSE   India  Asia/Kolkata

In [28]:


df.groupby('country').count().head(100)

                         name  code  timezone
country
Argentina                   1     1         1
Australia                   2     2         2
Austria                     1     1         1
Bahrain                     1     1         1
Bangladesh                  1     1         1
Belgium                     1     1         1
Bosnia & Herzegovina        1     1         1
Botswana                    1     1         1
Brazil                      1     1         1
Bulgaria                    1     1         1
Canada                      4     4         4
Chile                       1     1         1
China                       2     2         2
Colombia                    1     1         1
Costa Rica                  1     1         1
Croatia                     1     1         1
Cyprus                      1     1         1
Czech Republic              1     1         1
CÃ´te d'Ivoire               1     1         1
Denmark                     2     2         2
Egypt                       1     1         1
Estonia                     1     1         1
Finland                     1     1         1
France                      1     1         1
Germany                     9     9         9
Greece                      1     1         1
Hong Kong                   1     1         1
Hungary                     1     1         1
Iceland                     1     1         1
India                       2     2         2
Indonesia                   1     1         1
Iraq                        1     1         1
Ireland                     3     3         3
Israel                      1     1         1
Italy                       1     1         1
Jamaica                     1     1         1
Japan                       2     2         2
Jordan                      1     1         1
Kazakhstan                  1     1         1
Kuwait                      1     1         1
Latvia                      1     1         1
Lebanon                     1     1         1
Lithuania                   1     1         1
Luxembourg                  1     1         1
Malawi                      1     1         1
Malaysia                    1     1         1
Malta                       1     1         1
Mauritius                   1     1         1
Mexico                      1     1         1
Mongolia                    1     1         1
Montenegro                  1     1         1
Morocco                     1     1         1
Namibia                     1     1         1
Netherlands                 1     1         1
New Zealand                 1     1         1
Nigeria                     1     1         1
Norway                      1     1         1
Oman                        1     1         1
Pakistan                    1     1         1
Palestinian Territories     1     1         1
Peru                        1     1         1
Philippines                 1     1         1
Poland                      1     1         1
Portugal                    1     1         1
Qatar                       1     1         1
Romania                     1     1         1
Russia                      1     1         1
Rwanda                      1     1         1
Saudi Arabia                1     1         1
Serbia                      1     1         1
Singapore                   1     1         1
Slovakia                    1     1         1
Slovenia                    1     1         1
South Africa                1     1         1
South Korea                 3     3         3
Spain                       3     3         3
Sri Lanka                   1     1         1
Sweden                      3     3         3
Switzerland                 1     1         1
Taiwan                      2     2         2
Tanzania                    1     1         1
Thailand                    1     1         1
Tunisia                     1     1         1
Turkey                      1     1         1
Uganda                      1     1         1
Ukraine                     1     1         1
United Arab Emirates        3     3         3
United Kingdom              1     1         1
United States              16    16        16
Venezuela                   1     1         1
Vietnam                     1     1         1
Zambia                      1     1         1
Zimbabwe                    1     1         1

### This Function will give all the stocks for an exchange. We might use this one to check if we can analyse a stock

In [13]:
def get_all_stocks_by_exchange(exchange):
	end_url_path="stocks"
	url = f"https://twelve-data1.p.rapidapi.com/{end_url_path}"

	querystring = {"exchange":exchange,"format":"json"}

	headers = {
		"X-RapidAPI-Key": "628945fc0cmsh40c2bcb4a06a38ap16df3cjsn9834d9b0ab25",
		"X-RapidAPI-Host": "twelve-data1.p.rapidapi.com"
	}
	response = requests.get(url, headers=headers, params=querystring)
	data = response.json()
	df = pd.DataFrame(data['data'])
	print(df.count())
	print(df.columns)
	return df

In [14]:
df = get_all_stocks_by_exchange('NASDAQ')
df[df.name.str.lower().str.contains('nano')]

symbol      4518
name        4518
currency    4518
exchange    4518
mic_code    4518
country     4518
type        4518
dtype: int64
Index(['symbol', 'name', 'currency', 'exchange', 'mic_code', 'country',
       'type'],
      dtype='object')

,symbol,name,currency,exchange,mic_code,country,type
619,BNGO,BioNano Genomics Inc,USD,NASDAQ,XNCM,United States,Common Stock
2775,NA,Nano Labs Ltd,USD,NASDAQ,XNMS,United States,American Depositary Receipt
2780,NAOV,NanoVibronix Inc,USD,NASDAQ,XNCM,United States,Common Stock
2792,NBTX,Nanobiotix S.A.,USD,NASDAQ,XNGS,United States,Common Stock
2857,NNDM,Nano Dimension Ltd,USD,NASDAQ,XNCM,United States,Depositary Receipt
2858,NNOX,Nano-X Imaging Ltd,USD,NASDAQ,XNMS,United States,Common Stock
2887,NSTG,NanoString Technologies Inc,USD,NASDAQ,XNMS,United States,Common Stock

27